@* vì controller đang truyền danh sách nên ở đây cũng phải truyền danh sách *@
@model List<MyApp.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h3>Index</h3>
<a asp-action="Create">Create</a>

<table class="table">
    <thead>
        @* 1 hàng *@
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Serial Number</th>
            <th>Category</th>
            <th>Clients</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price.ToString("N2") $</td>
                <td>@item.SerialNumber?.Name</td>
                <td>@item.Category?.Name</td>
                <th>
                    @foreach(var client in item.ItemClients)
                    { 
                        // Tên khách hàng
                        @client.Client.Name
                    }
                </th>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>